/*
 * BlenderBIM Add-on - OpenBIM Blender Add-on
 * Copyright (C) 2020, 2021 Dion Moult <dion@thinkmoult.com>
 *
 * This file is part of BlenderBIM Add-on.
 *
 * BlenderBIM Add-on is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * BlenderBIM Add-on is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with BlenderBIM Add-on.  If not, see <http://www.gnu.org/licenses/>.
 */

 * { stroke-linecap: round; stroke-linejoin: round; }
 text, tspan { /* 2.5mm */ fill: #2C5573; stroke: none; font-family: 'Century Gothic', 'OpenGost Type B TT', 'DejaVu Sans Condensed', 'Liberation Sans', 'Arial Narrow', 'Arial'; font-size: 3px; }
 .cut { fill: rgb(255, 255, 255); stroke: black; stroke-linecap: 'round'; stroke-width: 0.35; fill-rule: evenodd; }
 
 
 .surface {fill: white; stroke-width: 0.1;}
 
 .projection { fill: white; stroke: rgb(110, 110, 110); stroke-linecap: 'round'; stroke-width: 0.25; }
 .annotation { fill: none; stroke: #2C5573; stroke-linecap: 'round'; stroke-width: 0.25; }
 .IfcAnnotation { fill: none; stroke: #2C5573; stroke-linecap: 'round'; stroke-width: 0.25; }
 .IfcGeographicElement { fill: none; stroke: black; stroke-linecap: 'round';}
 .PredefinedType-LINEWORK { stroke: #2C5573; stroke-width: 0.25; }
 .PredefinedType-BACKGROUND { stroke: black; stroke-width: 0.18; }
 .PredefinedType-GRID { marker-start: url(#grid-marker); marker-end: url(#grid-marker); }
 .PredefinedType-SECTION { stroke-dasharray: 12.5, 3, 3, 3; }
 .PredefinedType-SECTIONLEVEL { marker-start: url(#section-level-marker); stroke-dasharray: 12.5, 3, 3, 3; }
 .PredefinedType-PLANLEVEL { marker-end: url(#plan-level-marker); }
 .PredefinedType-DIMENSION { marker-start: url(#dimension-marker-start); marker-end: url(#dimension-marker-end); }
 .PredefinedType-ANGLE { marker-start: url(#angle-marker-start); marker-end: url(#angle-marker-end); }
 .PredefinedType-RADIUS { marker-end: url(#fall-marker-end); }
 .PredefinedType-FALL { marker-end: url(#radius-marker-end); }
 .PredefinedType-SLOPEANGLE { marker-end: url(#radius-marker-end); }
 .PredefinedType-SLOPEPERCENT { marker-end: url(#radius-marker-end); }
 .PredefinedType-SLOPEFRACTION { marker-end: url(#radius-marker-end); }
 .PredefinedType-DIAMETER { marker-start: url(#diameter-marker-start); marker-end: url(#diameter-marker-end); }
 .PredefinedType-HIDDENLINE { stroke-dasharray: 1, .75; }
 .PredefinedType-STAIRARROW { marker-start: url(#stair-marker-start); marker-end: url(#stair-marker-end); }
 .PredefinedType-BOUNDARY { fill: none; stroke: red; stroke-width: 1; stroke-dasharray: 12, 4, 3, 4, 3, 4; }
 .PredefinedType-WIDEREDDASHED { fill: none; stroke: red; stroke-width: 2; stroke-dasharray: 4, 4; }
 .PredefinedType-SEALANT { fill: url(#crosshatch1); stroke-width: 0.25; }
 .PredefinedType-FILLAREA { fill: white; stroke: black; }
 .PredefinedType-EXISTING { fill: #2C5573; fill-opacity: .4 }
 
 
 
 
 
 .PredefinedType-BREAKLINE { fill: none; stroke: #2C5573; stroke-width: 0.25; marker-mid: url(#breakline-marker); }
 .PredefinedType-TEXT { fill: #2C5573; stroke: none; }
 .predefinedtype-PROVISIONFORSPACE { stroke-dasharray: 1, .75; }
 path.PredefinedType-TEXTLEADER { marker-end: url(#leader-marker); }
 text.PredefinedType-TEXTLEADER, tspan.PredefinedType-TEXTLEADER { fill: #2C5573; stroke: none; }
 text.title, tspan.title { /* 7mm */ font-size: 11.55px; }
 text.header, tspan.header { /* 5mm */ font-size: 8.25px; }
 text.large, tspan.large { /* 3.5mm */ font-size: 5.78px; }
 text.regular, tspan.regular { /* 2.5mm */ font-size: 4.13px; }
 text.small, tspan.small { /* 1.8mm */ font-size: 2.97px; }
 text.GRID, tspan.GRID { /* 5mm */ font-size: 8.25px; }
 .material-blank { fill: white; }
 .material-poche { fill: rgb(199, 199, 199); }
 .material-diagonal1 { fill: url(#diagonal1); }
 .material-diagonal2 { fill: url(#diagonal2); }
 .material-diagonal3 { fill: url(#diagonal3); }
 .material-crosshatch1 { fill: url(#crosshatch1); }
 .material-crosshatch2 { fill: url(#crosshatch2); }
 .material-crosshatch3 { fill: url(#crosshatch3); }
 .material-brick { fill: url(#brick); }
 .material-earth { fill: url(#earth); }
 .material-glass { fill: url(#glass); }
 .material-liquid { fill: url(#liquid); }
 .material-grass { fill: url(#grass); }
 .material-honeycomb { fill: url(#honeycomb); }
 .material-sand { fill: url(#sand); }
 .material-concrete { fill: url(#concrete); stroke-width: 0.5; }
 .material-wood { fill: url(#wood); stroke: black; stroke-width: 0.5; }
 .IfcSpace { fill: none; stroke: none; }
 
 
 .material-BrickElevation { fill: url(#BrickElevation); }
 
 
 .material-PROPERTYLINE{ stroke-width: 1; stroke-dasharray: 3, 3, 3, 3, 8, 3; }
 
 .PredefinedType-STUD { stroke: black; stroke-width: 1; }
 .PredefinedType-WOOD { fill: url(#wood); stroke: black; stroke-width: 0.5; }
 .PredefinedType-STEEL { fill: url(#steel); stroke: black; stroke-width: 0.5; }
 .PredefinedType-CONCRETE { fill: url(#concrete); stroke: black; stroke-width: 0.5; }
 .PredefinedType-PLASTERBOARD { fill: url(#sand); stroke: black; stroke-width: 0.25; }
 
 
 [class*="PsetCommonStatus-NEW"] { fill: rgb(199, 199, 199); }
 .EPsetStatusStatus-EXISTING { fill: #5D6E7F; stroke: #2C5573; }
 
 
 
 
 /* [class*="surface"][class*="PsetCommonStatus-EXISTING"]{ fill: #c2ceda; stroke: #2C5573; stroke-width: 0.05px;} */
 .EPsetStatusStatus-EXISTINGDEMOLISH { fill: url(#demolish); stroke: red; stroke-dasharray: 2, 1; }
 
 

 [class*="surface"][class*="EPsetStatusStatus-EXISTING"] {fill: white;}
 
 [class*="IfcDoor"][class*="EPsetStatusStatus-EXISTING"] {fill: none;}
 [class*="IfcDoor"][class*="PsetCommonStatus-NEW"], [class*="IfcDoor"][class*="PsetCommon-StatusNEW"] {fill: none;}
 
 [class*="PsetCommon-FireRating2HR"] { fill: url(#2HR); }
 
 
 
 
 .materialCategory-steel { fill: url(#steel)}
 .materialCategory-sand { fill: url(#sand); }
 .materialCategory-concrete { fill: url(#concrete); stroke-width: 0.5;}
 .materialCategory-sealant { fill: rgb(199, 199, 199);}
 .materialCategory-InsulationBattVert { fill: url(#InsulationBattVert);stroke-width: 0.2; }
 .materialCategory-InsulationBattHorz { fill: url(#InsulationBattHorz);stroke-width: 0.2; }
 .materialCategory-wood1 { fill: url(#wood); stroke: black; stroke-width: 0.0; }
 .materialCategory-wood2 { fill: url(#wood); stroke: red; stroke-width: 0.5; }
 .materialCategory-WoodBeyond { fill: rgb(239 233 223); }
 .materialCategory-poche { fill: rgb(199, 199, 199); }
 .materialCategory-PlywoodHorz { fill: url(#PlywoodHorz); }
 .materialCategory-PlywoodVert { fill: url(#PlywoodVert); }
 
 .surface.material-existing { fill: #c2ceda; stroke: #2C5573; stroke-width: 0.05px;}
 .surface.materialCategory-poche  { fill: rgb(240, 240, 240); }
 .surface.material-FloorLayerSetName {fill: white; stroke-width: 0.1;}
 /* .surface.material-FloorLayerSetName { fill: url(#Square_1ft_at48scale); } */
 .surface.material-HorzLines6in48scale { fill: url(#HorzLines6in48scale); }
 .surface.material-VertLines6in48scale { fill: url(#VertLines6in48scale); }
 .surface.material-HorzLines6in96scale { fill: url(#HorzLines6in96scale); }
 .surface.material-DiagonalLines6in48scale { fill: url(#DiagonalLines6in48scale); }
 
 
 
 
 
 .surface.material-concrete { fill: url(#concrete); stroke-width: 0.5; }
 
 
 .material-5Fill { fill: hwb(0 95% 5%); }
 .material-10Fill { fill: hwb(0 90% 10%); }
 .material-20Fill { fill: hwb(0 80% 20%); }
 
 .material-grass { fill: hwb(137 83% 15%); }
 
 
 
 .PredefinedType-PROPERTY_LINE { stroke-dasharray: 1, .1, 1; }
 
 .PredefinedType-DASHED { stroke-dasharray: 1, .75; }
 .PredefinedType-WIDE {  stroke-width: 1;}
 .PredefinedType-HATCH {  stroke-width: .1;}
 
 .PredefinedType-CENTERLINE { stroke-dasharray: 1, .1, 1; }